<div style="padding: 13px;">

    <div *ngFor="let user of users" style="margin-top:10px;">
        <div>
            <div>{{user.name}}</div>
            <div>{{user.userId}} $/ {{user.group}}
            </div>
        </div>
        <div>
            <p>
                {{user.name}}
            </p>
            
        </div>
        <div>
      <button > Sample</button>
    </div>
    </div>
</div>